name: Release

on:
  workflow_dispatch:
    inputs:
      tag:
        description: 'Release Tag'
        required: true

permissions:
  contents: write
  # packages: write
  # issues: write

jobs:
  goreleaser:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - run: git fetch --force --tags
      - run: git tag ${{ github.event.inputs.tag }}
      - run: git push origin ${{ github.event.inputs.tag }}
      - uses: actions/setup-go@v5
        with:
          go-version-file: "go.mod"
          check-latest: true

      - uses: goreleaser/goreleaser-action@v5
        with:
          distribution: goreleaser
          version: latest
          args: release --clean
          cache: false
        env:
          GITHUB_TOKEN: ${{ secrets.GORELEASER_TOKEN }}